include b4msa/tests/text.json
include b4msa/resources/spanish.neg.stopwords
include b4msa/resources/spanish.stopwords
include b4msa/resources/english.stopwords
include b4msa/resources/english.neg.stopwords
include b4msa/resources/emoticons.json
